###############################################################################
# Set the language of a repository on GitHub.
###############################################################################
*.cs linguist-detectable=true
*.js linguist-detectable=false
*.html linguist-detectable=false
*.xml linguist-detectable=false


Content/* linguist-vendored
Scripts/* linguist-vendored

